.stage{
	background-color: #FFF !important;
}
#stage_1 {
	background-image: url(./images/fondo-1.jpg);
	
	&_menu{
		@include desktopLayout((
			width: auto,
			height: auto,
			left: 50px,
			top: 160px
		));
		@include flexGroupElemets((
			flex-direction: column,
			align-items: flex-start,
			gap: 5px
		));
		@include movil(){
			padding: 10px;
		}
		&_play{
			cursor: pointer;
			@include movil(){
				display: none;
			}
		}
	}
	&_footer{
		@include desktopLayout((
			width: auto,
			height: auto,
			left: 50px,
			bottom: 20px
		));
		@include flexGroupElemets((
			flex-direction: row,
			align-items: flex-end,
			gap: 10px
		));
		@include movil(){
			padding: 10px;
		}
	}
}
#stage_2 {
	&_menu {
		@include desktopLayout((
			width: auto,
			height: 640px,
			background-color: #00A99D,
			left: 0px,
			top: -48px
		));
		display: flex;
		align-items: center;
		li{
			img{
				position: relative;
			}
		}
		@include movil(){
			display: none;
		}
	}
	.icon{
		top: 0;
		left: -2x;
		width: 96px;
		cursor: pointer;
		z-index: 1;
	}
	.label{
		margin-left: -5px;
		z-index: 0;
	}
	/* Configuración inicial */
	img.label {
		margin-left: -390px; /* Empieza fuera del área visible */
		transition: margin-left 0.1s ease; /* Agrega una transición suave */
	}
	/* Al pasar el cursor sobre el icono, desplazar el label */
	img.icon:hover + img.label {
		margin-left: 0; /* Muestra el label desplazándolo hacia la derecha */
	}
	img.icon:hover {
		opacity: .97;
	}
	#visor{
		@include desktopLayout((
			width: 920px,
			height: 100%,
			left: 100px,
			top: 0px
		));
		display: flex;
		align-items: center;
		justify-content: center;
		@include movil(){
			width: 100%;
			height: auto;
		}
		iframe {
			@include movil(){
				width: 100%;
				height:auto;
				min-height: 400px;
			}
		}
	}
	

}
/*
#stage_1 {
	background-image: url(./images/fondo-1.jpg);
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
	@include movil(){
		display: block !important;
	}
	&_logo{
		@include desktop(){
			@include desktopLayout((
				width: auto,
				height: auto,
				left: 20px,
				top: 20px,
				debugger: true
			));
		}
		@include movil(){
			padding: 10px;
		}
	}
	&_title{
		font-size: 2.8rem;
		color: white;
		font-family: 'Lato Black';
		padding-left: 10px;
		border-left: 4px solid white !important;
		span:first-child {
			font-size: 3rem;
		}
		@include desktop(){
			@include desktopLayout((
				width: 370px,
				height: auto,
				left: 20px,
				top: 180px,
				debugger: true
			));
		}
		@include movil(){
			margin-top: 10px;
		}
	}
	&_medit{
		@include desktop(){
			@include desktopLayout((
				width: auto,
				height: auto,
				right: 20px,
				bottom: 20px,
				debugger: true
			));
		}
		@include movil(){
			text-align: right;
			margin-top: 10px;
		}
	}
	&_start{
		cursor: pointer;
		@include desktop(){
			@include desktopLayout((
				width: auto,
				height: auto,
				left: 20px,
				bottom: 90px,
				debugger: true
			));
		}
		@include movil(){
			display: none;
		}
	}
	@include desktop(){
		@include desktopLayout((
			width: 50%,
			height: 60px,
			left: 20px,
			top: 100px
		));
		overflow: hidden;
		@include flexGroupElemets((
			flex-direction: row,
			justify-content: space-between,
			align-items: center
		));
	}
	@include movil(){
		height: 200px;
	}
}
#stage_2 {
	background-color: #00A99D !important;
	background-image: url(./images/fondo-2.jpg);
	background-repeat: no-repeat;
	background-position: right;
	@include movil(){
		display: block !important;
		padding-bottom: 30px;
		background-image: none;
	}
	&_content{
		h2{
			font-size: 2.6rem;
			margin-top: 20px;
		}
		h3{
			font-size: 1.5rem;
		}
		h2, h3{
			font-family: 'Lato Bold';
			margin-top: 20px;	
		}
		p{
			margin-top: 20px;
			font-family: 'Lato Regular';
			width: 80%;
		}
		font-size: 1.3rem;
		color: white;
		width: 50%;
		@include desktop(){
			@include desktopLayout((
				width: 50%,
				height: 60px,
				left: 20px,
				top: 80px,
				debugger: true
			));
		}
		@include movil(){
			width: 100%;
			padding: 10px;
		  
		}		
	}
}
.inst1{
	font-family: 'Lato Regular';
	color: #FFF;
	display: flex;
	flex-direction: row;
	margin-top: 10px;
	span{
		font-size: 2.2rem;
		padding: 5px;
		font-family: 'Lato Bold';
	}
	p{
		padding-left: 15px;
		font-size: 1rem;
	}
	width: 100%;
}
.inst2{
	font-family: 'Lato Regular';
	color: #FFF;
	li{
		display: flex;
		flex-direction: row;
		gap: 10px;
		margin-top: 20px;
		span:first-child {
			font-size: 1.2rem;
			background-color: #FFF;
			border-radius: 5px;
			height: 30px;
			color: #00A99D;
			padding: 5px;
			font-family: 'Lato Bold';
		}

	}
}
#stage_3{
	background-color: #00A99D;
	@include desktop(){
		@include flexGroupElemets((
			flex-direction: row,
			justify-content: space-between,
			align-items: center
		));
	}
	&_left{
		width: 48%;
		height: 100%;
		padding: 20px;
		font-size: 1rem;
		h3{
			font-family: 'Lato Bold';
			color: #FFF;
			font-size: 2.2rem;
			width: 45%;
			@include movil(){
				width: 100% !important;
			}
		}
		
		@include movil(){
			width: 100% !important;
			background-color: #79C000;
		}
	}
	&_right{
		padding: 20px;
		font-family: 'Lato Regular';
		font-size: 1rem;
		color: #FFF;
		background-color: #79C000;
		width: 48%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		.inst1{
			width: 90%;
		}
		> p{
			margin-top: 20px;
		}
		.dashed{
			border: #FFF 2px dashed;
			padding: 20px;
		}
		@include movil(){
			width: 100% !important;
			background-color: #00A99D;
		}
	}
}
#stage_4{
	background-color: #FFF;
	&_table{
		margin-top: 2%;
		border: 1px solid #00A99D;
		margin-left: 5%;
		width: 90%;
		margin-bottom: 30px;
		thead{
			background-color: #00A99D;
			color: #FFF;
			th{
				padding: 10px;
				font-family: 'Lato Regular';
				font-size: 1rem;
				border: 1px solid #FFF;
				width: 16.66%;
			}
			
		}
		tbody{
			tr{
				td{
					padding: 10px;
					font-family: 'Lato Regular';
					font-size: .7rem;
					background-color: #E6E6E6;
					border: 1px solid #FFF;
					height: 70px;
					max-height: 200px;
				}
				td:first-child {
					background-color: #00A99D;
					color: #FFF;
				}
			}
		}
	}
	.main{
		display: flex;
		justify-content: space-between;
		padding: 20px 5% 0 5%;
	}
	.main_left img:hover{
		cursor: pointer;
		filter: grayscale(70%);
	}
	.main_rigth img:hover{
		cursor: pointer;
		filter: grayscale(70%);
	}
	@include movil(){
		padding: 0;
		overflow-x: scroll;
		&_table{
			min-width: 90%;
			width: 100px;
			overflow: auto;
		}
		#btn_induccion{
			display: none;
		}
	}
}
#stage_5{
	background-color: #00A99D;
	background-image: url(./images/fondo-3.jpg);
	background-repeat: no-repeat;
	background-position: right;
	div{
		width: 50%;
		height: 100%;
		background-color: #00A99D;
		color: #FFF;
		font-family: 'Lato Regular';
		padding: 60px 20px 40px 40px;
		font-size: 1rem;
		h2{
			font-family: 'Lato Black';
			font-size: 2.2rem;
			margin-bottom: 20px;
		}
		h3{
			font-family: 'Lato Black';
			font-size: 1.7rem;
			margin-bottom: 20px;
			span{
				background-color: #FBE122;
				color: #000;
				padding: 10px 7px 10px 7px;
				border-radius: 10px;
			}
		}
		p{
			font-size: 1.2rem;
		}
	}
	@include movil(){
		display: block !important;
		padding-bottom: 30px;
		background-image: none;
		div{
			width: 100%;
			padding: 20px;
		}
	}	
}
#stage_6{
	background-color: #00A99D;
	background-image: url(./images/fondo-4.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	color: #FFF;
	font-family: 'Lato Regular' !important;
	div{
		
		margin: 45px;
		width: 50%;
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			border-left: 2px solid #FFF;
			padding-left: 10px;
			li{
				padding: 0;
				margin: 0;
				span{
					font-family: 'Lato Bold';
				}
				
			}
			li:nth-child(11){
				margin-top: 20px;
			}
			li:nth-child(13){
				margin-top: 20px;
			}
			li:nth-child(15){
				margin-top: 20px;
			}
		}
		h2{
			font-family: 'Lato Black';
			font-size: 2.2rem;
			margin-bottom: 20px;
		}
	}
	@include movil(){
		background-image: none;
	
		background-color: #00a99ebd;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-image: url(./images/fondo-4.jpg);
			background-size: cover;
			opacity: 0.5;			z-index: -1;
		}
	}
}
#pop_up{

	background-color: #000000c9;
	@include movil(){
		padding: 0 10px 0 10px;
		position: absolute;
		background-color: #000000c9;
		top: 0;
		.box {
			width: 100%
		}
	}
}
#options{
	
	@include desktop(){
		@include desktopLayout((
			width: 90%,
			height: 60px,
			left: 5%,
			top: 100px
		));
		
	}
	@include flexGroupElemets((
		flex-direction: row,
		justify-content: space-between,
		flex-wrap: wrap,
		align-items: center
	));
	.box {
		width: calc(25% - 20px); 
		background-color: #00A99D;
		color: #FFF;
		padding: 20px;
		margin-bottom: 20px;
		box-sizing: border-box;
		min-height: 150px;
		font-family: 'Lato Regular';
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 3px solid #FFF;
		cursor: pointer;
		
	}
	 .active{
		border: 3px dashed #FFF !important;
	}
	
	@include movil(){
		.box {
			width: 100%
		}
	}
	

}
#aplicar{
	cursor: pointer;
}
#box-module{
	color: #FFF;
	font-family: 'Lato Regular';
	font-size: 1rem;
	@include desktop(){
		@include desktopLayout((
			width: 90%,
			height: 60px,
			left: 5%,
			bottom: 30px
		));
	}
	text-align: center;
	img{
		margin-top: 10px;
	}
	@include movil(){
		display: block;
		height: 200px;
	}
}
.active{
	 filter: grayscale(100%);
}
*/